<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #logo{
            width: 20%;
            height: 20%;
        }
    </style>
</head>
<body>
    <img id="logo" src="{{url_for('static', filename='Logo1.png')}}" > 
    <h1>Subtitle Machine</h1>

    <h1>Creamos tus subtitulos por ti</h1>
    <p>Tienes videos de tu empresa y no les has añadido subtitulos, lo hacemos por ti</p>
    
    <hr>

    <h3>1 min - 2€</h3> <h3>5 min - 8€</h3>
    
    <hr>

    <h5>Contacto - sergyxgp@gmail.com</h5>

</body>
</html>